<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Lost Pet Predictor</title>

  <link href="{{ url_for('static', filename='vendor/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet"
    type="text/css">
  <!--   <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/landing-page.min.css') }}" rel="stylesheet">
  <!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->

</head>


<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger text-white" href="/">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-white" href="#learn"> Learn more</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-white" href="#about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5 text-white">Lost Pet Location Predictor</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="search-container">
            <h5 class></h5>
            <form action="/resultspage" method="post">
              <input type="text" class="search-box" placeholder="Home address" name="search" required>
              <button class="custom-btn">Get Predictions</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <h4 class="mb-5">
        Useful Information
      </h4>

      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <!-- https://simplelineicons.github.io/ -->
              <!-- this is the website for icons -->
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Look for animal shelters</h3>
            <p class="lead mb-0">Lost pets are often rescued and sent to animal shelters. Be sure to call local shelters to see if they found your pet.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-calculator m-auto text-primary"></i>
            </div>
            <h3>Use Locator tags on collars.</h3>
            <p class="lead mb-0">Attaching a chip to your pet's collar in the future can significantly improve the chances of finding them.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-graph m-auto text-primary"></i>
            </div>
            <h3>Get the word out</h3>
            <p class="lead mb-0">Hanging up posters of your lost pet and raising awareness increases the chances that they will be returned to you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section id="learn" , section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white my-auto showcase-img">
          <img src="../static/img/workflow.jpg" class="order-lg-2 img-fluid mb-5 custom-img" alt="">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Project Workflow</h2>
          <p class="lead mb-0">We noticed that many people were depressed with their pet loss. So, to address this problem technically we came up with a solution of gathering data all over the USA and processed it through most familiar pandas algorithms and used some beautiful regressors achieving 80% of accuracy to achieve a predicted location by pointing in graphically using Flask.
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white my-auto showcase-img color:blue">
          <img src="../static/img/exploration.png" class="order-lg-2 img-fluid custom-img" alt="">
        </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Data Exploration</h2>
          <p class="lead mb-0">After scraping the data, we tried different approaches where 2 pf them gave promisable results:</p>
          Supervised Learning:
          <li> Linear models: Logistic Regression</li>
          <li> Non-linear Models: Decision Trees</li>
          <a href="https://github.com/jcelaya775/ampa-wmt-rto-hackathon">
              model </a> After training the accuracy for Deep learning is as high as 88%
              and for classifier it has the highest validation score of 76%
          </h5>


        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 my-auto text-white showcase-img">
          <img src="../static/img/visualization.png" class="order-lg-2 img-fluid custom-img" alt="">
        </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Data Visualization</h2>
          <p class="lead mb-0">We achieved the statement we are trying to prove after few challenges and this sample tells you the predicted locations of the given coordinates in a particular city and letting you know the predictable animal finding locations.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="testimonials text-center bg-light">
    <div class="container-xl">
      <h2 class="mb-5">About Us</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/jorge.jpg" alt="">
            <h5>Jorge Celaya</h5>
            <p class="font-weight-light mb-0"><a href="https://www.linkedin.com/in/jorgecelaya">LinkedIn </a>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/anjali.jpg" alt="">
            <h5>Anjali Sarma</h5>
            <p class="font-weight-light mb-0"><a href="https://www.linkedin.com/in/tanekellaanjali">LinkedIn </a>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/carina.jpg" alt="">
            <h5>Carina Ye</h5>
            <p class="font-weight-light mb-0"><a href="https://www.linkedin.com/in/carina-ye">LinkedIn </a>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/vishnu.jpg" alt="">
            <h5>Vishnu Vardhan Reddy Yeruva</h5>
            <p class="font-weight-light mb-0"><a href="https://www.linkedin.com/in/vishnu-vardhan-reddy-yeruva-b9b870a5">LinkedIn </a>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/img/ishana.jpg" alt="">
            <h5>Ishana Shinde</h5>
            <p class="font-weight-light mb-0"><a href="http://www.linkedin.com/in/ishanashinde798">LinkedIn </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://github.com/jcelaya775/ampa-wmt-rto-hackathon">
                <i class="fab fa-github fa-2x fa-fw"></i>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!--     <link href="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" rel="stylesheet" type="text/css" > -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}">
  </script>
  <!--   <link href="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" rel="stylesheet" type="text/css" > -->
  <script src="{{ url_for('static', filename='vendor/js/bootstrap.bundle.min.js') }}">
  </script>

</body>

</html>